<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora " rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <title>Heroku Todo</title>

</head>

    <div id="app" v-cloak>

        <h1>Todo App</h1>

        <div class="input_area">

            <label>Name</label>
            <input type="text" v-model="new_todo_name" placeholder="Task Name"><br>

            <label>Description</label>
            <input type="text" v-model="new_todo_description" placeholder="Task Description"><br>

            <label>Instructions</label>
            <input type="url" v-model="new_todo_instructions" placeholder="Task Instructions"><br>

            <label>Link Type</label>
            <input type="text" v-model="new_todo_linkType" placeholder="Link type"><br>

            <label>Assigned</label>
            <input type="date" v-model="new_todo_assigned" placeholder="Task Assigned"><br>

            <label>Updated</label>
            <input type="date" v-model="new_todo_updated" placeholder="Task Assigned"><br>

            <label>expired</label>
            <input type="date" v-model="new_todo_expired" placeholder="Task expired"><br>

            <button v-on:click="addNewTodo( )">Create</button>

        </div>

        <ul id="todos">
            <li class="todo" v-for="(todo,index) in todos">
                <input class="checkbox" type="checkbox" v-model ="todo.done">

                <div v-if="todo.editing">
                    <input type= "text" v-model= "todo.name">
                    <input type= "text" v-model= "todo.description">
                    <input type= "url" v-model= "todo.instructions">
                    <input type= "text" v-model= "todo.linkType">
                    <input type= "text" v-model= "todo.assigned">
                    <input type= "text" v-model= "todo.updated">
                    <input type= "text" v-model= "todo.expired">
                </div>
                <div v-else v-bind:class="{ done: todo.done }">
                    <p> <b>{{ todo.name }} </b></p><br>
                    <p> {{ todo.description }} </p><br>
                    <p> <a v-bind:href="todo.instructions">{{todo.linkType}}</a></p><br>
                    <p> {{ todo.expired }} </p><br>
                </div>
                <div v-if="todo.editing" class="stackButtons">
                    <button v-on:click="saveTodo(todo)">Save</button>
                    <button v-on:click="cancelSave(todo)">Cancel</button>
                </div>
                <div v-else class="stackButtons">
                    <button v-on:click="editTodo(todo)">Edit</button>
                    <button v-on:click="deleteTodo(todo)">Delete</button>
                </div>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</html>
