<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora " rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <title>Heroku Link Tracker</title>

</head>

    <div id="app" v-cloak>

        <h1>Link Tracker</h1>

        <div class="input_area">

            <label>Name</label>
            <input type="text" v-model="new_link_name" placeholder="Link Name"><br>

            <label>Description</label>
            <input type="text" v-model="new_link_description" placeholder="Link Description"><br>

            <label>url</label>
            <input type="url" v-model="new_link_url" placeholder="Link url"><br>

            <label>Link Type</label>
            <input type="text" v-model="new_link_linkType" placeholder="Link type"><br>

            <label>Assigned</label>
            <input type="date" v-model="new_link_assigned" placeholder="Task Assigned"><br>

            <label>Updated</label>
            <input type="date" v-model="new_link_updated" placeholder="Task Assigned"><br>

            <label>expired</label>
            <input type="date" v-model="new_link_expired" placeholder="Task expired"><br>

            <button v-on:click="addNewLink( )">Create</button>

        </div>

        <ul id="links">
            <li class="link" v-for="(link,index) in links">
                <input class="checkbox" type="checkbox" v-model ="link.done">

                <div v-if="link.editing">
                    <input type= "text" v-model= "link.name">
                    <input type= "text" v-model= "link.description">
                    <input type= "url" v-model= "link.url">
                    <input type= "text" v-model= "link.linkType">
                    <input type= "text" v-model= "link.assigned">
                    <input type= "text" v-model= "link.updated">
                    <input type= "text" v-model= "link.expired">
                </div>
                <div v-else v-bind:class="{ done: link.done }">
                    <p> <b>{{ link.name }} </b></p><br>
                    <p> {{ link.description }} </p><br>
                    <p> <a v-bind:href="link.url">{{link.linkType}}</a></p><br>
                    <p> {{ link.expired }} </p><br>
                </div>
                <div v-if="link.editing" class="stackButtons">
                    <button v-on:click="savelink(link)">Save</button>
                    <button v-on:click="cancelSave(link)">Cancel</button>
                </div>
                <div v-else class="stackButtons">
                    <button v-on:click="editlink(link)">Edit</button>
                    <button v-on:click="deletelink(link)">Delete</button>
                </div>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</html>
